/* Header styles */
header {
    background-color: #4a4a4a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Styling for main heading */
h1 {
    margin-top: 15px;
}

/* Logo styles */
#logo {
    margin-right: 50px;
}

#logo a {
    font-size: 30px;
}

/* Search bar styles */
#search-bar {
    display: flex;
    align-items: center;
    border-radius: 10px;
}

#search-bar input {
    margin-right: 10px;
    margin-left: 130px;
    border-radius: 5px;
    border: none;
}

#search-bar button {
    border-radius: 5px;
    border: none;
}

/* Styling for the Manage-posts link */
#Manage-posts {
    margin-left: auto;
}

#Manage-posts a {
    text-decoration: none;
    color: #faf5fd;
    font-size: 16px;
}

/* Navigation styles */
nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Dropdown styles for nested navigation */
nav ul li:hover ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #333;
}

nav ul ul li {
    display: block;
    text-align: left;
}

nav ul ul li a {
    font-size: 14px;
}


/* Footer styles */
footer {
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Footer content container styles */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Contact info, terms, and social media styles */
.contact-info,
.terms,
.social-media {
    text-align: left;
    color: #fff;
    flex: 1;
}

.terms {
    margin-top: 10px;
}

/* Policy link styles */
.policy {
    margin: 10px;
}

.terms a {
    color: #faf5fd;
    text-decoration: none;
    font-size: 16px;
}

/* Copyright text styles */
#copyright {
    color: #faf5fd;
    margin-top: 40px;
    margin-left: 65px;
}

/* Social media section styles */
.social-media h2 {
    margin-bottom: 10px;
    color: #fff;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin-bottom: 5px;
}

.social-media a {
    color: #faf5fd;
    text-decoration: none;
    font-size: 16px;
}
