/* Reset default margin and padding for consistency across browsers */
body, h1, h2, h3, ul, p, img {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body, setting background and font styles */
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fefefe;
}


/* Main content area styles */
main {
    padding: 20px;
}

/* Filter section styles */
.filter {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 800px;
    color: #151715;
}

.filter select {
    border-radius: 5px;
}

/* Container styles for user posts */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling for span elements */
span {
    background-color: #fff;
    border-radius: 5px;
    font-size: larger;
    padding: 5px;
}

/* User section styles */
.user-section {
    margin-bottom: 40px;
    border-radius: 10px;
}

.user-section h2 {
    text-align: center;
}

/* User card hover effect */
.user:hover {
    transform: scale(1.02);
}

/* User title styles */
.title {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

/* User items list styles */
.items {
    list-style: none;
}

/* Individual user card styles */
.post {
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(235, 232, 228);
    border-radius: 10px;
    align-items: center;
    /* width: 30%; */
}

/* User item list item styles */
.items li {
    margin-bottom: 5px;
    margin-left: 10px;
}

/* User image styles */
/* img {
    height: 150px;
    width: 150px;
    border-radius: 5px;
} */

/* Post button styles */
.Post-button {
    /* background-color: #4CAF50; */
    color: rgb(7, 7, 7);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 1050px;
}
/* CSS for loading indicator */
#loadingIndicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none; /* Initially hidden */
}


/* .Post-button:hover {
    background-color: #45a049;
} */
